apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
    type: frontend
spec:
  template:
    metadata:
      name: nginx-2
      labels:
        app: my-nginx
    spec:
      containers:
        - name: nginx-container
          image: nginx:1.29.1
          ports:
            - containerPort: 80

  replicas: 3
  selector:
    matchLabels:
      app: my-nginx
